/* JOSH COMEAU's CSS Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Libre Baskerville", serif;
  min-height: 100vh;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* My CSS Codes */
:root {
  --dark-green: #0fa3b1;
  --cream: #f9f7f3;
  --light-yellow: #eddea4;
  --light-orange: #ef8354;
  --four-px: 0.25rem;
  --eight-px: 0.5rem;
  --twelve-px: 0.75rem;
  --sixteen-px: 1rem;
  --twenty-px: 1.25rem;
  --twenty-four-px: 1.5rem;
  --twenty-eight-px: 1.75rem;
  --thirty-two-px: 2rem;
  --thirty-six-px: 2.25rem;
  --forty-px: 2.5rem;
  --forty-four-px: 2.75rem;
  --forty-eight-px: 3rem;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* Hero Section */
.hero-section {
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-inline: 4rem;
  padding-block: 3rem;
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--twenty-four-px);
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: var(--twenty-four-px);

  > h1 {
    font-size: 4rem;
    color: var(--light-orange);

    > span {
      color: var(--dark-green);
    }
  }

  > h2 {
    font-size: var(--twenty-four-px);
  }
}

.hero-img {
  background-image: url(./assets/images/Hero\ Image.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 520px;
}

/* Activity Sections */
.activities-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding-block: var(--forty-px);
  gap: var(--thirty-two-px);

  > h2 {
    font-size: var(--thirty-two-px);
    font-weight: 600;
  }
}

.activities {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--forty-eight-px);
}

.activity-1,
.activity-2,
.activity-3 {
  display: flex;
  flex-direction: column;
  gap: var(--sixteen-px);
  max-width: 300px;
  border-radius: 8px;
  border: 1.5px solid #000;
  border-bottom: 4px solid #000;

  > span {
    padding-inline: 1rem;
    font-size: var(--twenty-px);
    font-weight: 600;
  }

  > p {
    padding-inline: 1rem;
    padding-block-end: 1rem;
  }
}

#activity-1 {
  background-color: #0fa3b126;

  > span {
    color: var(--dark-green);
  }
}

#activity-2 {
  background-color: #4682b426;

  > span {
    color: #4682b4;
  }
}

#activity-3 {
  background-color: #ef835426;

  > span {
    color: var(--light-orange);
  }
}

.activity-img-1,
.activity-img-2,
.activity-img-3 {
  width: 100%;
  min-height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#activity-img-1 {
  background-image: url(./assets/images/4867.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#activity-img-2 {
  background-image: url(./assets/images/39417.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#activity-img-3 {
  background-image: url(./assets/images/2738.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Tour Guide Section */
.tour-guide {
  background-color: var(--cream);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-block: var(--forty-eight-px);
}

.tour-guide-box {
  background-color: var(--light-yellow);
  border-radius: var(--eight-px);
  border-block-end: 4px solid #000;
  max-width: 646px;
  width: 100%;
  padding-block: var(--thirty-two-px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--thirty-two-px);

  > h2 {
    font-size: var(--thirty-two-px);
    font-weight: 600;
    color: var(--dark-green);
  }
}

.tour-content {
  max-width: 534px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--twenty-four-px);
}

.tour-guide-intro {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 300px;
  width: 100%;
  gap: var(--eight-px);

  > h2 {
    font-size: var(--twenty-four-px);
  }

  > span {
    font-size: var(--twenty-px);
  }

  > p {
    font-size: 1rem;
  }
}

footer {
  background-color: var(--dark-green);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-block: var(--twenty-four-px);
  gap: 1rem;
  color: #fff;

  > span {
    > a {
      text-decoration: none;
      color: #fff;
      cursor: pointer;
    }
  }
}
